$white: #c9e4ca;
$grey: #87bba2;
$green: #55828b;
$dark: #3b6064;
$darker: #364958;
.header {
  grid-area: headClass;
  background-color: $darker;
 }
 .header img {
   width: 50px;
 }
 .loginBlock {
     float: right;

 }