$white: #c9e4ca;
$grey: #87bba2;
$green: #55828b;
$dark: #3b6064;
$darker: #364958;
.nav {
    grid-area: navClass;
    min-height: 100vh;
    font-family: Cinzel;
    background-color: $dark;
    padding: 20px;
}

.item a {
    color: black;
    text-decoration: none;
}

.activeLink {

    font-size: 20px;
    color: #61dafb;
}