.nav {
    grid-area: navClass;
    font-family: Cinzel;
    background-color: rgb(212, 212, 69);
    padding: 20px;
}

.item a {
    color: black;
    text-decoration: none;
}

.activeLink {

    font-size: 20px;
    color: #61dafb;
}